
@import url('https://fonts.googleapis.com/css2?family=Monomaniac+One&display=swap');

body {
    font-family: 'Monomaniac One', sans-serif;
    background-color: #7149C6;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title {
    color: #FFDEB9;
    font-size: 40px;
}

.subtitle {
    color: #FFDEB9;
    font-size: 28px;
}

.labels {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background: #FC2947;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
    border-radius: 20px;
    border: 3px solid #FFDEB9;
    display: flex;
    color: #FFDEB9;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon img {
    width: 100px;
}

input {
    display: none;
}

input:checked + label {
    background: #FE6244;
}

.Btnpet {
    width: 250px;
    height: 55px;
    background: transparent;
    margin: 10px;
    border: 5px solid #FFDEB9;
    box-sizing: border-box;
    border-radius: 20px;
    color: #FFDEB9;
    font-family: 'Monomaniac One', sans-serif;
    font-size: larger;
}

#seleccionar-ataque {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Btn {
    background-color: #FC2947;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 3px solid #FFDEB9;
    font-family: 'Monomaniac One', sans-serif;
    color: #FFDEB9;
    width: 100px;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#mensaje {
    font-family: 'Monomaniac One', sans-serif;
    width: 280px;
    background: #FE6244;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    font-size: larger;
    color: #FFDEB9;
    border: 3px solid #FFDEB9;
    flex-direction: column;
}

#Reiniciarb {
    border: none;
    background: none;
    color: #FFDEB9;
}

.attacks {
    display: grid;
    grid-template-columns: 120px 120px ;
}

.attackP,  .attackE {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 767px) {
    .labels {
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .btns {
        display: flex;
        flex-direction: column;
    }
}

#LifeP, #LifeE {
    background-color: #FE6244;
    color: #FFDEB9;
    width: 50px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid #FFDEB9;
}

#npet, #npete {
    background-color: #FE6244;
    color: #FFDEB9;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid #FFDEB9;
    margin: 10px;
}

#attackFP, #attackFE {
    background: transparent;
    color: #FFDEB9;
    width: 100px;
    height: auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column: 2;
    border: 1px solid #FFDEB9;
    margin: 10px;
    
}

p {
    grid-column: 2;
    justify-content: center;
}

button:disabled {
    background-color: transparent;
}